body {
    color: black;
}

#display {
    text-align: center;
    font-size: 50px;
}

#coffee {
    width: 60px;
    display: inline;
}

.nav-link {
    color: white;
}

#brewing {
    height: auto;
    padding: 10px;
}

#info {
    height: auto;
    padding: 60px 10px 10px 10px;
}

#brand {
    color: white;
}

#timer {
    height: auto;
    padding: 10px;
}

.anchor {
    display: block;
    position: relative;
    top: -56px;
}

.progress {
    margin-top: 20px;
    display: none;
    height: 60px;
}

.progress-bar {
    width: 0%;
    height: 60px;
}

#inputForm {
    font-size: 20px;
    margin: auto;
}

#timerDisplay {
    font-size: 70px;
    display: block;
}

#screen {
    display: none;
}

.card-body {
    color: white;
}
