body
{
    color: black;
}

#display
{
    text-align: center;
}

#coffee
{
    width: 50px;
    display: inline;
}

.nav-link
{
    color: white;
}



#brewing
{
    height: 600px;
    padding: 10px;
}

#info
{
    height: 500px;
    padding: 60px 10px 10px 10px;
    padding-bottom: 60px;
}

#brand
{
    color: white;
}

#timer
{
    height: 600px;
    padding: 10px;
}
.anchor
{
    display: block;
    position: relative;
    top: -56px;
}


